<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8"></meta>
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		<link rel="stylesheet" th:href="@{/css/solcitud.css}"/>
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
        
	</head>

	<body>
		<!-- th:fragment define un fragment los cuales sirven para evitar la redundancia de codigo -->
		<!-- Sintaxis th:fragment="Nombre del fragment" -->
		<div th:fragment="header">
			<!-- this is header -->
			
		 <div class="barra">
		 
        <nav id="arriba">
						<ul >
						 <li>
						 <img th:src="@{/img/logo.png}" alt="">
                 <a th:href="@{/inicio/index}">Inicio</a>
                 <a th:href="@{/reserva/listareserva}">Reservas</a>
                 <a th:href="@{/orden/pago}">Mis pagos</a>
                 <a th:href="@{/usuario/registroPrestamista}">Prestamistas</a>
                 <a th:href="@{/inicio/index}">Nosotros</a>
	                      </li>
						</ul>
						 </nav>
					</div>
					
				</div>






 
	</body>
	
</html>
