body{
    background-color: rgba(245, 245, 80, 0.952);
}
#cuadro{
    background-color: white;
    height: 400px;
    width: 500px;
    position: relative;
    top: 100px;
    left: 400px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    border-color: black;
}
#cuadro h1{
    position: relative;
    top: 20px;
    left: 170px;
}
#label1{
   
    position: relative;
    top: 20px;
    left: 60px;
    font-size: 20px;
    
}
input{

}


#label2{
  
    position: relative;
    top: 100px;
  right: 100px;
  font-size: 20px;
     
}
#tried{
	 position: relative;
	  left: 160px;
}
button{
    position: relative;
    /*
    top: 140px;
    left:170px;
    */
    top: 10px;
    right: 100px;
    height: 30px;
    width: 130px;
    background: rgb(79, 79, 219);
    color: white;
}
p{
    position: relative;
    top: 150px;
    left:130px;
}
a{
    position: relative;
    top: 115px;
    left:260px;
}