@charset "ISO-8859-1";
@charset "ISO-8859-1";
body {
    overflow-x:hidden;
   background-color: black;
}
#arriba{
    background: white;
    text-decoration: none;
    position: absolute;
    top: -1%;
    left:-1%;
    height: 14%;
    width: 101%;
    
    

}
#arriba li{
    list-style:none;
}

#arriba img{
    position: absolute;
    height: 60%;
    width: 7%;
     top:5%;
}
#arriba a{
    text-decoration: none;
    color: black;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
position: relative;
left: 15%;
margin: 4%;
top: 35px;

}

#calendario{
    position: absolute;
    top: 16%;
    left:35%;
  
    height: 10%;
}
#calendario input{
width: 200%;
height: 50%;
}
#buscar{
    position: absolute;
    top: 16%;
    left:60%;
    height: 30px;
    width: 90px;
    text-align: center;
    background: rgb(60, 129, 209);
    color: white;
    
}