#arriba {
    background-color:rgba(218, 216, 216, 0.438);    
    position: relative;
    top: px;
    right: 10px;
    height: 60px;
    width: 1365px;
  
  }
  body {
      overflow-x:hidden;
  }
  #arriba a{
      color: rgb(8, 8, 8);
      text-decoration: none;
      margin: 60px;
      font-size: 19px;
      position: relative;
    top:16px;
      left: 110px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  #arriba li{
      list-style:none
  }
  #arriba img {
      height: 50px;
      width: 90px;
      position: relative;
      top: 5px;
  }
 #buscar label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

#buscar  input,
label {
    margin: .4rem 0;
}
