.container-fluid{
    background-color: rgba(243, 217, 240, 0.911);
    position: absolute;
    height: 86%;
    width: 60%;
    top: 20%;
    left: 40%;
   
}
.container-fluid input{
	
	width:50%;
 height: 40px;
   position: relative;
   left:40%;
}
.container-fluid label{
	
	
   position: relative;
   top:40px;
   left:10%;
}
.container-fluid button{
	position: relative;
	left:33%;
	 background-color:blue;
	 color:white;
}
#cancelar{
	position: relative;
	left:40%;
}
#imagen{
	 position: absolute;
	 top:30%;
	 left:5%;
	 height: 50%;
	  width: 30%;
	 
}