<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"></meta>
		<title>Reserva</title>
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<link th:href="@{/css/solcitud.css}" rel="stylesheet" />
		<link th:href="@{/css/style.css}" rel="stylesheet" />
	
        <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
       
       
		

<body>
 <div class="barra">
		 
        <nav id="arriba">
						<ul >
						 <li>
						 <img th:src="@{/img/logo.png}" alt="">
                 <a th:href="@{/inicio/index2}">Inicio</a>
                 <a th:href="@{/inicio/solicitud}">Mis Solicitudes</a>
               <a th:href="@{/usuario/registroPrestamista}">Mis trabajadores</a>
                 <a th:href="@{/orden/pago}">Mis pagos</a>
                  </li>
						</ul>
						 </nav>
                    <div id="bienvenido">
                  <img th:src="@{/img/cop.jpg}" alt="">
   <h1>Bienvenidos</h1>
        <p>Planea tus eventos con nosotros </p>



</div>
</body>
                 

</html>