<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="@{/css/style.css}">
</head>

<body>

    <div class="barra">
     <nav id="arriba">
         <ul>
             
         <li>
            <img th:src="@{/img/logo.png}" alt="">
             <a href="index.html">Inicio</a>
             <a href="">Reservas</a>
             <a href="">Mis pagos</a>
             <a href="">Mis reservas</a>
             <a href="">Nosotros</a>
         </li>
        </ul>
     </nav>
    </div>
    <div id="bienvenido">
        
   <img th:src="@{img/cop.jpg}" alt="">
   <h1>Bienvenidos</h1>
        <p>Planea tus eventos con nosotros </p>

</div>
<div id="entradas">
    <li>
   <img th:src="@{img/fiesta.png}" alt="">
   <img th:src="@{img/persona.png}" alt="">
   <img th:src="@{img/camra.png}" alt="">
   </li>
   <li id="entradas2">
       <a href="Seccion2">Evento</a>
       <a href="Seccion3">Clientes</a>
       <a href="Seccion4">Fotos</a>

   </li>
</div>
</body>

</html>