<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

		<title>Login</title>
		
        <link th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
				
<body>
		


    <div class="barra">
        <nav id="arriba">
            <ul>
                
            <li>
               	 <img th:src="@{/img/logo.png}" alt="">
                 <a th:href="@{/inicio/index}">Inicio</a>
                 <a th:href="@{/reserva/listareserva}">Reservas</a>
                 <a th:href="@{/orden/pago}">Mis pagos</a>
                 <a th:href="@{/reserva/listareserva}">Mis reservas</a>
                 <a th:href="@{/inicio/index}">Nosotros</a>
            </li>
           </ul>
        </nav>
       </div>
   <div id=cuadro>
    <p>Con <b>Design it</b>  , tienes todo planificado</p>
    <div id="dentro">
    <li>
    <img th:src="@{/img/reloj.png}" alt="">
    <img th:src="@{/img/seleccionar.png}" alt="">
    <h1> Ahorra tiempo</h1>
    <h2>Encuentra servicios</h2>
    
</li>
</div>
    </div>




</body>

