<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<meta charset="ISO-8859-1"></meta>
<head th:replace="layout/layout :: head">

		<title>Login</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/race.js}"></script>
        <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
    </head>
				
<body>
    <div id="cuadro">
        <h1>Registrate</h1>
       <!--validar usuario-->
        <label id="label1">Usuario     <input type="text" id="Name" name="Name" placeholder="usuario"/></label>
       <!--validar contraseña-->
       <label id="label2">Contraseña     <input type="password" id="Name" name="Name"placeholder="contraseña" /
        title="Una contraseña válida es un conjuto de caracteres, donde cada uno consiste de una letra mayúscula o minúscula, o un dígito. La contraseña debe empezar con una letra y contener al menor un dígito" 
        ></label>
      
    <!--inicio de prueba -->
       <a href="index.html"><button>Iniciar </button></a>
        

        <!-- AQUI VALIDA BOTON
        <input type="hidden" th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}" />
        -->
        <p>¿No tienes cuenta?</p>
        <a href="registrar.html">Iniciar Sesion</a>
    </div>






     