<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<meta charset="ISO-8859-1"></meta>
	<head>

		<title>Login</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/race.js}"></script>
        <link th:href="@{/css/login.css}" rel="stylesheet" />
    </head>
				
<body>
<img  th:src="@{/img/img1.svg}" alt="">
    <div id="cuadro">
         <h1>Registrate</h1>
       <!--validar usuario-->
       <label id="label1">Usuario    <input name="usuario" type="text" class="Input" value="" size="20" /> </label>
       <!--validar contraseña-->
       <label id="label2">Contrasena <input type="password" id="contraseña" name="Name"placeholder="contrasena" /
        title="Una contraseña válida es un conjuto de caracteres, donde cada uno consiste de una letra mayúscula o minúscula, o un dígito. La contraseña debe empezar con una letra y contener al menor un dígito" 
        ></label>
        
        
        <a	  th:href="@{/inicio/index}"
        id="inicio" type="button" class="inicio1">
        <span class="glyphicon glyphicon-search"></span> Inicio
       </a>
     
 <a th:href="@{/usuario/registro}" type="link" id="cuenta" >No tienes cuenta?Registrate</a>
    </div>






     