<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<head>
   
		<link th:href="@{/css/reserva.css}" rel="stylesheet" />
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
      
      
    
       
		
		
</head>
<body>
<br>
   <div class="barra">
		 
        <nav id="arriba">
						<ul >
						 <li>
						 <img th:src="@{/img/logo.png}" alt="">
                 <a th:href="@{/inicio/index}">Inicio</a>
                 <a th:href="@{/reserva/listareserva}">Reservas</a>
                 <a th:href="@{/orden/pago}">Mis pagos</a>
                   <a th:href="@{/reserva/listareserva}">Mis reservas</a>
                 <a th:href="@{/inicio/index}">Nosotros</a>
	                      </li>
						</ul>
						 </nav>
					</div>
					

      <div class="buscar">
<!-- th:href=""falta -->
      <select class="buscador">
			<!--  <option th:each="r: ${listaRoles}"
					th:value="${r.idRol}"
					th:text="${r.nameRol}"
					th:selected="(${r.idRol}==*{rol.idRol})"> 
			</option>    				-->		
		</select>
		
		<a id="buscarf" type="button">
			<span class="glyphicon glyphicon-search"></span> Aceptar
		   </a>			
	</div> 		 
</div>

       <br>
	   <br>  
	   <br>  
	   <br>  
	   <br>  
	   <br>
	   <br>
	   <br>
	   <br>
	   <div class="container">
    		<form id="myform">
    			<div class="row clearfix">
    				<div class="col-md-12 column">
    					
    					
    					<table class="table table-bordered table-hover table-striped" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">Codigo</th>
    								<th class="text-center">Servicio</th>
    								<th class="text-center">Prestamista</th>
									<th class="text-center">Descripcion</th>
    								<th class="text-center">Precio</th>
                                    <th class="text-center">Operacion</th>
    							</tr>
    								<tbody>
    						  <tr>
                                <td>001</td>
                                <td>Hora loca</td>
                                <td >Jan Carlos Muñoz</td>
								<td>Show con payasos , 1 hora y 2 personajes</td>
                                <td>130</td>   								
                    
                                <td><a th:href="@{/reserva/registrar}">Seleccionar</a></td>
                            </tr>

                            	</tbody>
    					</table> 
    					
    				</div>
    			</div>
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
    						
    						
</body>
