@charset "ISO-8859-1";
:root {
  --white: whitesmoke;
  --yellow: #ffd60a;
  --darkblue: #001d3d;
}

::selection {
  background: var(--yellow);
  color: var(--darkblue);
}

body {
  margin: 10vh 0;
  font: 20px / 28px "Nunito", sans-serif;
  color: var(--yellow);
  background: var(--darkblue);
}

h1 {
  margin-bottom: 30px;
}

section + section {
  margin-top: 10vh;
}


